.header {
    -fx-padding: 20;
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #007 0%, #00d 100%);
    -fx-text-fill: white;
}

.header.title {
    -fx-font: 18pt "Tahoma Bold";
}

.header .tag-line {
    -fx-font: 12pt "Tahoma Bold";
}

.body {
    -fx-padding: 20;
}

.label{
    -fx-font-size: 14pt;
      }
.root{
    -fx-font-size: 14pt;
    -fx-font-family: "Tahoma";
    -fx-base: #DCE587;
    -fx-background: #A78732;
    -fx-focus-color: #FAFECB;
}

.data{
    -fx-skin: "com.sun.javafx.scene.control.skin.LabelSkin";
}

.autocompletetextfield {
	-fx-skin: "com.mytdev.javafx.internal.scene.control.skin.AutoCompleteTextFieldSkin";
}

.stringnewlookup {
	-fx-skin: "com.mytdev.javafx.internal.scene.control.skin.AutoCompleteTextFieldSkin";
}

/*.table-row-cell:selected {
	-fx-background-color: #DCE587;
}

.table-row-cell:odd {
     -fx-background-color: #FAFECB;
     -fx-background-insets: 0, 0 0 1 0;
 }

 .table-row-cell:even {
      -fx-background-color: #FAFECB;
      -fx-background-insets: 0, 0 0 1 0;
  }*/


